{extend name="../../index/view/public/base" /}
{block name="body"}
{include file="../../index/view/public/banner" /}
<div class="container">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Index</div>
    <div class="panel-body" style="text-indent:30px;">
      <p class="text-primary">欢迎访问xxApi数据中心。。。</p>
    </div>
    <!--列表-->

  </div>

</div>
{/block}

{block name="script"}
<!--     <script type="text/javascript">
        alert('登录成功')
    </script> -->
{/block}